@media screen and (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .heading {
        background-position: 25% 75%;
        background-size: cover;
    }

    .heading__title {
        font-size: 32px;
        text-align: center;
    }

    .heading__text {
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        width: 343px;
        height: 66px;
        padding-bottom: 32px;
    }

    .heading__button {
        margin-bottom: 238px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .game__box {
        flex-direction: column;
    }

    .game__first {
        background-image: url(img/Rectangle\ 6.png);
        width: 343px;
    }

    .game__second {
        background-image: url(img/Rectangle\ 7.png);
        width: 343px;
    }

    .game__third {
        background-image: url(img/Rectangle\ 8.png);
        width: 343px;
    }
}