* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000915;
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.heading {
  background-image: url(img/Rectangle\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading__title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 217px;
  padding-bottom: 32px;
}

.heading__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  max-width: 481px;
  padding-bottom: 44px;
}

.heading__button {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  background: #9C0332;
  border-style: none;
  padding: 13px 74px;
  margin-bottom: 493px;
}

.heading__button:hover {
  cursor: url(img/clarity_cursor-hand-line.svg), pointer;
  background-color: #EB443F;
}

.game__box {
  display: flex;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}

.game {
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  width: 378px;
  height: 300px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.game:hover {
  cursor: url(img/clarity_cursor-hand-line.svg), pointer;
}

.game__first {
  background-image: url(img/Rectangle\ 6.png);
  width: 379px;
}

.game__second {
  background-image: url(img/Rectangle\ 7.png);
  width: 379px;
}

.game__third {
  background-image: url(img/Rectangle\ 8.png);
  width: 379px;
}

.game__name {
  margin: 236px 268px 32px 32px;
  white-space: nowrap;
}

.playground {
  display: flex;
  flex-direction: row;
  gap: 135px;
  padding-top: 233px;
  padding-bottom: 233px;
}
.playground__article {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 49px;
}
.playground__heading {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.playground__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.playground__button {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 234.063px;
  height: 48.603px;
  border-radius: 30px;
  border-style: none;
  background: #9C0332;
  padding: 13px 90px 13px 74px;
  text-decoration: none;
}
.playground__button:hover {
  cursor: url(img/clarity_cursor-hand-line.svg), pointer;
  background-color: #EB443F;
}

.remember-words {
  display: flex;
  flex-direction: row;
  gap: 135px;
  padding-top: 233px;
  padding-bottom: 233px;
}
.remember-words__article {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 49px;
}
.remember-words__heading {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.remember-words__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.remember-words__button {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 234.063px;
  height: 48.603px;
  border-radius: 30px;
  border-style: none;
  background: #9C0332;
  padding: 13px 90px 13px 74px;
  text-decoration: none;
}
.remember-words__button:hover {
  cursor: url(img/clarity_cursor-hand-line.svg), pointer;
  background-color: #EB443F;
}

@media screen and (max-width: 768px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .heading {
    background-position: 25% 75%;
    background-size: cover;
  }
  .heading__title {
    font-size: 32px;
    text-align: center;
  }
  .heading__text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    width: 343px;
    height: 66px;
    padding-bottom: 32px;
  }
  .heading__button {
    margin-bottom: 238px;
    margin-left: 54px;
    margin-right: 54px;
  }
  .game__box {
    flex-direction: column;
  }
  .game__first {
    background-image: url(img/Rectangle\ 6.png);
    width: 343px;
  }
  .game__second {
    background-image: url(img/Rectangle\ 7.png);
    width: 343px;
  }
  .game__third {
    background-image: url(img/Rectangle\ 8.png);
    width: 343px;
  }
  .playground {
    flex-direction: column;
    gap: 64px;
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .playground__article {
    text-align: center;
    padding-top: 0px;
  }
  .playground__heading {
    font-size: 32px;
  }
  .playground__text {
    font-size: 14px;
    line-height: 22px;
  }
  .playground__button {
    margin-left: 54px;
    margin-right: 54px;
  }
  .remember-words {
    flex-direction: column-reverse;
    gap: 64px;
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .remember-words__article {
    text-align: center;
    padding-top: 0px;
  }
  .remember-words__heading {
    font-size: 32px;
  }
  .remember-words__text {
    font-size: 14px;
    line-height: 22px;
  }
  .remember-words__button {
    margin-left: 54px;
    margin-right: 54px;
  }
}/*# sourceMappingURL=style.css.map */